.chatbot-body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("../assets/landingPage/markus-spiske-WcLzVLbUP5g-unsplash.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatbot-input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.chatbot-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  background-color: #e1eaf0;
  resize: none;
}

.chatbot-send-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.chatbot-send-button-icon {
  width: 16px;
  height: 16px;
}

.chatbot-messages-container {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Make sure that the messages star */
.chatbot-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  position: relative; /* Ensure child elements like the typing indicator are positioned correctly */
}

/* Hide the Loader */
.typing-loader {
  display: none;
}

.typing-indicator {
  font-style: italic;
  opacity: 0.8;
  animation: blink 1.5s infinite;
  align-self: flex-start;
  background-color: #f7f2de;
  border: 2px solid black;
  color: #333;
  padding: 10px;
  border-radius: 10px;
  width: 50px;
  max-width: 70%;
  word-wrap: break-word;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.typing-indicator-icon {
  width: 24px;
  height: 24px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}

.error-message-container {
  border: 1px #dc4131 solid;
  margin: 0px 10px 0px 10px;
  text-align: center;
  padding: 10px;
  color: #dc4131;
}

/* Desktop Styles: When the screen is 1024px or larger */
@media (min-width: 1024px) {
  .chatbot-messages-container {
    width: 90%;
    max-width: 400px;
    height: 70%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
}
