/* ===== Global CSS - Will affect all pages ===== */

/* Base CSS - Going Mobile First Approach */
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arimo, sans-serif;
  font-size: 16px;
}

/* Ensures full-height layout and removes browser default spacing. */
html,
body {
  height: 100%;
  /* margin: 0; */
}

/* Max size of the desktop - set by the assignment */
main {
  max-width: 1512px;
  margin: 0 auto;
}

/* Large Body text */
.large-body {
  font-size: 18px;
}

.primary-text {
  color: #0b0a08;
}

.secondary-text {
  color: #ffffff;
}

/*Due to not finding a good colour on stylesheet, i made this for those dark grey text */
.greyed-text {
  color: #5a5d5f;
}

/* At certain places, i felt it would be good to credit the ones taking the photo, so this class places it nicely */
.image-credit {
  padding-left: 20px;
  padding-top: 2px;
}

.primary-background-color {
  background-color: #f7f2de;
}

.color-red {
  color: #dc4131;
}

.color-Light-blue {
  color: #e1eaf0;
}

.color-green {
  color: #008f51;
}

/* Main Button */
.primary-button {
  background-color: #dc4131;
  color: #ffffff;
  text-decoration: none;
  display: block;
  text-align: center;
  height: 45px;
  line-height: 45px;
  border-radius: 8px;
  font-size: 1rem;
  font-family: "Arimo", sans-serif;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 0 1px rgba(0, 0, 0);
}

/* Slightly darker colour on the button, aswell as removing the link default styling */
.primary-button:hover {
  background-color: #ae2e21;
  text-decoration: none;
}

/* Icon Button */
.icon-button {
  opacity: 1;
}

.icon-button:hover {
  opacity: 0.4;
}

/* Helper Classes */
.center-items {
  align-items: center;
}

.center-text {
  text-align: center;
}

.display-flex {
  display: flex;
}

.add-cursor-pointer {
  cursor: pointer;
}

.padding-20 {
  padding: 20px;
}

.padding-45 {
  padding: 45px;
}

.padding-top-90 {
  padding-top: 90px;
}

/* ===== Margin Bottoms, Set with Important due to something overwriting it. ===== */
.margin-bottom-12 {
  margin-bottom: 12px !important;
}

.margin-bottom-24 {
  margin-bottom: 24px !important;
}

.margin-top-45 {
  margin-top: 45px !important;
}

.margin-bottom-90 {
  margin-bottom: 90px !important;
}

.object-fit-cover {
  object-fit: cover;
}

.general-border {
  outline: black 1px solid;
}

.no-margin {
  margin: 0 !important;
}

/* Used on elements that are to be hidden by default */
.default-hidden {
  display: none;
}

/* Show on Desktop Only */
.on-desktop-only {
  display: none;
}

/* Show on Mobile Only */
.on-mobile-only {
  display: block;
}

.text-button {
  background: none;
  border: none;
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

.text-button:hover {
  text-decoration: underline;
}

/* Specific Elements */

/* Logo */
.logo {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-weight: 300;
  font-size: 75px;
}

/* Header */
.header {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

/* Sub-Header */
.sub-header {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

/* Accent Text */
.accent-text {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

/* Desktop Styles: When the screen is 1024px or larger */
@media (min-width: 1024px) {
  /* Large Body Text */
  .large-body {
    font-size: 20px;
  }

  /* Logo */
  .logo {
    font-size: 200px;
  }

  /* Header */
  .header {
    font-size: 36px;
  }

  /* Sub-header */
  .sub-header {
    font-size: 20px;
  }

  /* Accent Text */
  .accent-text {
    font-size: 20px;
  }

  .on-desktop-only {
    display: block;
  }

  .on-mobile-only {
    display: none;
  }
}
