/* ===== Global CSS - Will affect all pages ===== */

/* Base CSS - Going Mobile First Approach */
* {
  box-sizing: border-box;
}

body {
  font-family: Arimo, sans-serif;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

/* Large Body text */
.large-body {
  font-size: 18px;
}

.primary-text {
  color: #0b0a08;
}

.secondary-text {
  color: #ffffff;
}

.primary-background-color {
  background-color: #f7f2de;
}

.color-red {
  color: #dc4131;
}

.color-Light-blue {
  color: #e1eaf0;
}

.color-green {
  color: #008f51;
}

/* Main Button */
.primary-button {
  background-color: #dc4131;
  color: #ffffff;
  text-decoration: none;
}

.primary-button:hover {
  background-color: #ae2e21;
  text-decoration: underline;
}

/* Icon Button */
.icon-button {
  opacity: 1;
}

.icon-button:hover {
  opacity: 0.4;
}

/* Helper Classes */
.center-items {
  align-items: center;
}

.center-text {
  text-align: center;
}

.display-flex {
  display: flex;
}

.padding-20 {
  padding: 20px;
}

.object-fit-cover {
  object-fit: cover;
}

.general-border {
  /* border: 1px solid black; */
  outline: black 1px solid;
}

/* Specific Elements */

/* Logo */
.logo {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-weight: 300;
  font-size: 75px;
}

/* Header */
.header {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
}

/* Sub-Header */
.sub-header {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
}

/* Accent Text */
.accent-text {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

/* Desktop Styles: When the screen is 1024px or larger */
@media (min-width: 1024px) {
  /* Large Body Text */
  .large-body {
    font-size: 20px;
  }

  /* Logo */
  .logo {
    font-size: 200px;
  }

  /* Header */
  .header {
    font-size: 36px;
  }

  /* Sub-header */
  .sub-header {
    font-size: 20px;
  }

  /* Accent Text */
  .accent-text {
    font-size: 20px;
  }
}
