/* ===== All CSS Specified for the Landing Page ===== */

/* ===== Top Section - Image with text ===== */

/* Top section, with an background image taking 100% of the screen when user enters the page */
.top-background-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url("../assets/landingPage/main-background.avif");
}

/* The FRAM Text (logo) on the background image */
.top-logo {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 75px;
  letter-spacing: 3px;
  margin: 0;
  font-family: "Frank Ruhl Libre", sans-serif;
  font-weight: 300;
}

/* An Vertical Line that goes between title and sub text on background image */
.top-underline {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 460px;
  background-color: white;
}

/* Sub text on the background image */
.top-subheading {
  position: absolute;
  top: 78%;
  left: 53%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  margin: 0;
  font-family: "Arimo", sans-serif;
  font-weight: 400;
}

/* ===== Produce and Chatbot Section ===== */

/* Makes the Produce and chat stack on top of each other */
.produce-chat-container {
  flex-direction: column;
}

/* Ensuring the font size and design on the produce and chat title */
.produce-chat-title {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 24px;
}

.produce-chat-subtitle {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-weight: 400;
  font-size: 16px;
  padding-top: 8px;
  line-height: 1.2;
}

/* Styling the image to fit the design, especially in mind with the spacing around it */
.produce-chat-image {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  height: 327px;
  padding: 0px 16px;
  margin-top: 45px;
}

/* Ensuring that the button scales accordingly to the design on Mobile */
.produce-full-width-button {
  height: 45px;
  width: calc(100% - 40px);
  margin: 0 auto;
  display: block;
  padding: 0 20px;
}

/* ===== Info Section (This is how it works section) ===== */
.info-title {
  justify-content: center;
}

.info-link {
  color: darkslategray;
}

.info-section {
  flex-direction: column;
}

.info-steps {
  flex-direction: column;
}

.info-header {
  padding-top: 90px;
  padding-bottom: 45px;
}

.info-sub-header {
  text-align: center;
}

/* ===== Popular Produce Section ===== */
.popular-produce-shopping-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 60%;
  background-color: black;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 0.8rem;
  cursor: pointer;
  margin: -30px 10px 0 auto;
  z-index: 10;
  position: relative;
}

.popular-produce-shopping-button-icon {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.popular-produce-card-container {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  gap: 16px;
  padding: 0 16px;
}

.popular-produce-card {
  flex: 0 0 calc(100% - 32px);
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-sizing: border-box;
  background-color: #fff;
}

.popular-produce-card img {
  width: 100%;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.popular-produce-type-and-price {
  margin-top: 18px;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}

.popular-produce-weight {
  margin-top: 5px;
  text-align: left;
  font-size: 0.9rem;
  margin-left: 0;
}

.popular-produce-navigation-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

/* Scroll button styles */
#scroll-left,
#scroll-right {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* ===== Desktop Styles: When the screen is 1024px or larger ===== */
@media (min-width: 1024px) {
  /* ===== Top Section ===== */

  /* Top text (logo), placed abit further down on desktop */
  .top-logo {
    top: 20%;
    left: 50%;
    font-size: 200px;
  }

  /* The Vertical line that goes between logo and sub text, shorter on desktop */
  .top-underline {
    top: 40%;
    left: 50%;
    height: 500px;
    background-color: white;
  }

  /* Sub text on the background image */
  .top-subheading {
    top: 82%;
    left: 50%;
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
  }

  /* ===== Produce and Chat Section ===== */

  /* Makes the Produce and chat section stand next to each other on Desktop */
  .produce-chat-container {
    flex-direction: row;
  }

  .produce-chat-title {
    font-size: 36px;
  }

  .produce-chat-subtitle {
    font-size: 20px;
    padding-bottom: 45px;
  }

  /* Image on Desktop got a stricter width compared to Mobile */
  .produce-chat-image {
    width: 448px;
    height: 327px;
    display: block;
    margin: 0 auto;
  }

  /* Adjustment as this one scaled poorly from Mobile to Desktop, requiring some extra touch to look nice */
  .image-credits-positioning {
    text-align: center;
  }

  /* An Desktop Only class, which again ensures the scaling between these to be as designed on Desktop */
  .produce-chat-card {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  /* Button got a set width on Desktop */
  .produce-full-width-button {
    width: 320px;
  }

  /* ===== Info Section ===== */
  .info-section {
    flex-direction: row;
    height: 785px;
  }

  .info-title {
    flex: 1;
    max-width: 33%;
    height: 100%;
  }

  .info-title .header {
    font-size: 2rem;
  }

  .info-steps {
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .info-step {
    height: 197px;
    padding-left: 90px;
    padding-right: 20px;
    position: relative;
    display: flex;
  }

  .info-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .info-sub-header {
    width: 278px;
    margin: 0;
    font-size: 1.2rem;
    flex-shrink: 0;
    text-align: left;
  }

  .info-content {
    flex: 1;
    padding-right: 197px;
  }

  /* ===== Popular Produce Section ===== */
  /* To remove extra padding and margin*/
  section {
    padding: 0;
    margin: 0;
  }

  /* Hide buttons on desktop */
  .popular-produce-navigation-button-container {
    display: none;
  }

  .popular-produce-card-container {
    display: flex;
    justify-content: start;
    width: 100%;
    box-sizing: border-box;
  }

  .popular-produce-card {
    padding: 0;
    min-width: 455px;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
  }

  .popular-produce-card img {
    width: 455px;
    height: 432px;
    border-radius: 8px;
    object-fit: cover;
  }

  .popular-produce-type-and-price {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }

  .popular-produce-weight {
    margin-top: 12px;
    text-align: left;
    font-size: 0.9rem;
  }
}
