/* All css that are specified to the landing page */

/* ===== Top Section - Image with text ===== */
.top-background-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.top-logo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 3em;
  letter-spacing: 3px;
  margin: 0;
}

.top-underline {
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 200px;
  background-color: white;
}

.top-subheading {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.2em;
  margin: 0;
}

/* ===== Produce and Chatbot Section ===== */
.produce-chat-container {
  flex-direction: column;
  gap: 20px;
}

.produce-chat-image {
  width: 100%;
  object-fit: cover;
  border-radius: 46px;
  height: 327px;
  padding: 0px 16px;
  margin-top: 45px;
  margin-bottom: 45px;
  border-radius: 30px;
}

.produce-full-width-button {
  height: 45px;
  width: calc(100% - 40px);
  margin: 0 auto;
  display: block;
  padding: 0 20px;
}

/* ===== Info Section (This is how it works section) ===== */

.info-title {
  justify-content: center;
}

.info-link {
  color: darkslategray;
}

.info-section {
  flex-direction: column;
}

.info-steps {
  flex-direction: column;
}

.info-header {
  padding-top: 90px;
  padding-bottom: 45px;
}

/* Kept as needing to adjust this between screen sizes */
.info-sub-header {
  text-align: center;
}

/* Desktop Styles: When the screen is 1024px or larger */
@media (min-width: 1024px) {
  /* ===== Produce and Chat Section Layout ===== */
  .produce-chat-container {
    flex-direction: row;
  }

  .produce-chat-image {
    width: 448px;
    height: 327px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  }

  .produce-chat-card {
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
  }

  .produce-full-width-button {
    width: 320px;
  }

  /* ===== Info Section ===== */
  .info-section {
    flex-direction: row;
    height: 785px;
  }

  .info-title {
    flex: 1;
    max-width: 33%;
    height: 100%;
  }

  .info-title .header {
    font-size: 2rem;
  }

  .info-steps {
    flex: 2;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .info-step {
    height: 197px;
    padding-left: 90px;
    padding-right: 20px;
    position: relative;
    display: flex;
  }

  .info-header {
    padding-top: none;
    padding-bottom: none;
  }

  .info-sub-header {
    width: 278px;
    margin: 0;
    font-size: 1.2rem;
    flex-shrink: 0;
    text-align: left;
  }

  .info-content {
    flex: 1;
    padding-right: 197px;
  }
}
