/* ===== Newsletter Section ===== */

/* General Container for the Section */
.newsletter-section {
  background-color: #dc4131;
  color: #ffffff;
  max-width: 100%;
  margin: auto;
  padding-bottom: 45px;
}

/* Divider got some space on either side, by design */
.newsletter-divider {
  border: 0;
  border-top: 1px solid white;
  margin-left: 10px;
  margin-right: 10px;
}

/* Main title of the newsletter, set the size of a logo as that seemed closer to the design */
.newsletter-title {
  font-family: "Frank Ruhl Libre", sans-serif;
  font-weight: 400;
  font-size: 75px;
  padding-top: 32px;
  padding-left: 32px;
  padding-bottom: 32px;
}

/* Sub-Header of the newsletter - STAY Updated */
.newsletter-header {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding-top: 45px;
  padding-left: 32px;
  padding-bottom: 45px;
}

/* Descriptive text of this */
.newsletter-subtext {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 45px;
}

/* Center the form elements within */
.newsletter-form {
  text-align: center;
}

/* Common fields within both input fields */
.newsletter-input {
  width: 90%;
  border: none;
  border-radius: 10px;
  height: 45px;
  font-size: 16px;
  padding-left: 10px;
}

/* Slight darker colour as it seemed so on the design itself */
.newsletter-button {
  width: 90%;
  height: 45px;
  font-size: 16px;
  background-color: #f5f5f5;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.newsletter-success-container {
  display: none;
  text-align: center;
}

/* Displays the thank you message when submitting */
.newsletter-success-message {
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Desktop Styles: When the screen is 1024px or larger */
@media (min-width: 1024px) {
  /* More space at the bottom after the send button */
  .newsletter-section {
    padding-bottom: 95px;
  }

  /* Due to no mention in the design, i chose to stick with the same font size as on Mobile, as it looks cleaner */
  .newsletter-title {
    padding-top: 45px;
    padding-left: 45px;
    padding-bottom: 16px;
  }

  /* Subheader is slightly larger on desktop and pushed abit from the left side.*/
  .newsletter-header {
    font-size: 36px;
    padding-left: 45px;
  }

  /* Slightly larger subtext, and pushed abit further from the left */
  .newsletter-subtext {
    font-size: 20px;
    padding-left: 45px;
  }

  /* Makes the element go left as per design */
  .newsletter-form {
    text-align: left;
  }

  /* Common fields within both input fields */
  .newsletter-input {
    width: 15%;
    border-radius: 3px;
    font-size: 20px;
    margin-left: 45px;
  }

  /* Newsletter button styled to fit the design better */
  .newsletter-button {
    width: 15%;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 45px;
  }
}
